
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 30%;
    padding: 20px;
}
input,textarea{
    margin: 10px;
}
#error-message{
    color: red;
}